body {
    text-align: center;
}

.button {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
}


#grey {
    background-color: grey;
}

#white {
    background-color: white;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}